/* ---------------------------------- THEME --------------------------------- */
/* PALETTE */
$color_primary: #555555;
$color_secondaryLight: #c7c7c7;
$color_quaternary: #275d38;

// FONT SIZE
$font_sizeM: 18px;
$font_sizeXl: 22px;

// MARGIN
$margin_grid: 50px;
/* -------------------------------- CONTAINER ------------------------------- */

.containerAsideArticle {
  display: flex;
  justify-content: space-between;
}

.collection__itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $margin_grid;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: $margin_grid;
}

.aside {
  font-weight: bold;
  font-size: $font_sizeM;
  margin: 20px 0;
  width: 18%;
  border-right: 1px solid $color_secondaryLight;
  margin-right: 10px;
}
/* -------------------------------- ELEMENTS -------------------------------- */
.collection {
  margin-left: 20px;
}
.historicNav {
  margin: 5px 0 30px 0;
}

.historicNav__link {
  text-decoration: none;
}

.collection__title {
  color: $color_quaternary;
  font-weight: bold;
  font-size: $font_sizeXl;
  margin: 20px 0;
}

.aside__titles {
  font-weight: bold;
  font-size: $font_sizeM;
  margin: 0;
}

/* ----------------------------- STATIC MODIFIER ---------------------------- */
.historicNav_primary {
  color: $color_primary;
}

.historicNav_currentNav {
  color: $color_quaternary;
  font-weight: bold;
}
/* ---------------------------- DYNAMIC MODIFIER ---------------------------- */

.--historicNavHover:hover {
  text-decoration: underline;
}
