<article class="cardsContainer">
    <!-- <h3>{{itemName}}</h3> -->
    <div class="cardsContainer__item">
        <img class="cardsContainer__img" src={{src}} alt="picture of vegetal" />
        <p class="cardsContainer__description">{{text}}</p>
        <div class="cardsContainer__footer">
            <span>{{price}}€</span>
            <button class="cardsContainer__addCartBtn --addCartHoverBrightness" (click)="enabled()">
                <svg class="cardsContainer__cartIcon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
            </button>
        </div>
    </div>
</article>
<app-add-details-article *ngIf="isActived" src={{src}} (showHide)="enabled()" [price]="price" [text]="text"
    [passItemToCart]="targetItem">
</app-add-details-article>