<nav class="navBar">
    <ul class="navBar__ul">
        <li class="navBar__item underLineOff --underLineOnQuaternary" id="nav_1">
            <!-- Menu 1 -->
            <a class="navBar__Btn  --link__HoverQuaternary fontColor_primary">Notre assortiment</a>
            <svg class="navBar__icon --icon__HoverQuaternary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                width="512" height="512">
                <path
                    d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
            </svg>
            <!-- DropDown -->
            <div class="menu" id="menu_1">
                <ul class="menu__dropDown">
                    <!-- select1 -->
                    <li class="menu__dropDown__item">
                        <a class="menu__dropDown__item__select">Bulbes à fleurs</a>
                        <svg class="navBar__icon iconTurnedRight icon_secondaryLight" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" width="512" height="512">
                            <path
                                d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
                        </svg>
                        <!-- subMenu1 -->
                        <div class="subMenu__dropDown__item__options">
                            <ul>
                                <h3 class="subMenu__titleOption">Bulbes de fleurs par catégorie</h3>
                                <li class="subMenu__option --greenHoverLink"><a>Lis - Lilium</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Renoncultes - Ranunculus</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Tulipes - Tulipa</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Narcisses - Narcissus</a></li>
                            </ul>
                            <ul>
                                <h3 class="subMenu__titleOption"><a>Packs de bulbes de fleurs</a></h3>
                                <li class="subMenu__option --greenHoverLink"><a>Tous les packs de bulbes de fleurs</a>
                                </li>
                                <li class="subMenu__option --greenHoverLink"><a>Mélanges de bulbes de fleurs à longue
                                        floraison</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Packs de bulbes de fleurs attirant les
                                        abeilles et les
                                        papillons</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Packs de bulbes de fleurs pour
                                        bordure</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- select2 -->
                    <li class="menu__dropDown__item">
                        <a class="menu__dropDown__item__select">Plantes d'extérieur</a>
                        <svg class="navBar__icon iconTurnedRight icon_secondaryLight" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" width="512" height="512">
                            <path
                                d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
                        </svg>
                        <!-- subMenu2 -->
                        <div class="subMenu__dropDown__item__options">
                            <ul>
                                <h3 class="titleOption">Bulbes de fleurs par catégorie2</h3>
                                <li class="subMenu__option --greenHoverLink"><a>Lis - Lilium2</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Renoncultes - Ranunculus2</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Tulipes - Tulipa2</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Narcisses - Narcissus2</a></li>
                            </ul>
                            <ul>
                                <h3 class="subMenu__titleOption"><a>Packs de bulbes de fleurs</a></h3>
                                <li class="subMenu__option --greenHoverLink"><a>Tous les packs de bulbes de fleurs</a>
                                </li>
                                <li class="subMenu__option --greenHoverLink"><a>Mélanges de bulbes de fleurs à longue
                                        floraison</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Packs de bulbes de fleurs attirant les
                                        abeilles et les
                                        papillons</a></li>
                                <li class="subMenu__option --greenHoverLink"><a>Packs de bulbes de fleurs pour
                                        bordure</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- select 3 -->
                    <li class="menu__dropDown__item">
                        <a class="menu__dropDown__item__select">Plantes d'intérieur</a>
                        <svg class="navBar__icon iconTurnedRight icon_secondaryLight" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" width="512" height="512">
                            <path
                                d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
                        </svg>
                    </li>
                </ul>
            </div>
            <!-- . -->
        </li>
        <!-- Menu 2 -->
        <li class="navBar__item underLineOff --underLineOnQuaternary" id="nav_2">
            <a class="navBar__Btn fontColor_primary">Idées cadeaux</a>
            <svg class="navBar__icon icon_secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512"
                height="512">
                <path
                    d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
            </svg>
            <div class="menuCards" id="menu_2">
                <cards-menu class="menuCards__item" *ngFor="let item of giftList" [src]="item.img"
                    [text]="item.description" [nameCollection]="item.name"></cards-menu>
            </div>
        </li>
        <li class="navBar__item underLineOff --underLineOnQuaternary">
            <a class="navBar__Btn fontColor_primary">Planty app</a>
        </li>
        <li class="navBar__item underLineOff --underLineOnTertiary">
            <a class="navBar__Btn fontColor_tertiary">Promotions</a>
            <svg class="navBar__icon icon_tertiary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512"
                height="512">
                <path
                    d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
            </svg>
        </li>
        <li class="navBar__item underLineOff --underLineOnQuaternary">
            <a class="navBar__Btn fontColor_primary">Service Clients</a>
        </li>
        <li class="navBar__item underLineOff --underLineOnQuaternary">
            <a class="navBar__Btn fontColor_primary">Blog</a>
            <svg class="navBar__icon icon_secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512"
                height="512">
                <path
                    d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z" />
            </svg>
        </li>
        <li class="navBar__item underLineOff --underLineOnQuaternary">
            <a class="navBar__Btn fontColor_primary">#bakkernature</a>
        </li>
    </ul>
</nav>